/* addition to global.css */
div.photos {
  display: flex;
  flex-wrap: wrap;
}
img.inDocumentation {
  height: 40ex;
  border: solid 1px #910E3A;
  margin: 12px;
}
p {
    margin: 0em;
    padding-left: 1em;
    padding-right: 1em;
}
