<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Comment utiliser l'extension TRINVExt ?"
               canonicalURL="{$docbase}/comment_utiliser_l_extension_trinvext/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Comment utiliser l'extension TRINVExt ?</h1>
    <div class='Content'><p>Cette page suppose bien sûr que l'extension <code>TrinvExt</code> est installée.
Si ce n'est pas le cas, installez-la en suivant
<a href='{$docbase}/comment_installer_l_extension_trinvext'>
ces instructions</a>.</p>
<div class='w3-center w3-panel'>
  <iframe width="560" height="315" 
          src="https://www.youtube.com/embed/c0Usum8VG9E"
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<h2>Mode d'emploi</h2>
<p>Cliquer sur l'icône de <code>TrinvExt</code>
<img src='/Screens/trinvexticon.png' alt='icone TrinvExt'>
et choisissez le bouton « Analyser ».</p>
<p><img class='inDocumentation'
     alt="l'extension TrinvExt"
     src='/Screens/trinvext.png'></p>
<p>Si vous ne voyez pas l'icône, cherchez l'icône des extensions (une
pièce de puzzle) et épinglez <code>TrinvExt</code>. Vous retrouverez <code>TrinvExt</code>
aisément la prochaine fois.</p>
<p>Quand vous cliquez sur « Analyser », la page courante est lue et
envoyée à l'IA de TRINV. Si l'analyse est concluante, la fiche
associée apparaîtra dans un nouvel onglet.</p>
<p>En cas d'analyse défectueuse, une fiche est néanmoins créée que vous
pourrez amender, rectifier, compléter, corriger, etc.</p>
<h2>Exemple</h2>
<p>Voici un <a href="https://youtu.be/c0Usum8VG9E">exemple en video</a> et la même
chose textuellement: (1) l'annonce à analyser, (2) l'appel à
l'extension et (3) la fiche résultante dans un nouvel onglet:</p>
<div class='photos'>
 <img class='inDocumentation'
      alt="Emploi de l'extension TrinvExt - étape 1"
      src='/Screens/trinvextuse1.png'>
 <img class='inDocumentation'
      alt="Emploi de l'extension TrinvExt - étape 2"
      src='/Screens/trinvextuse2.png'>
 <img class='inDocumentation'
      alt="Emploi de l'extension TrinvExt - étape 3"
      src='/Screens/trinvextuse4.png'>
</div>
</div>
  </div>
</AnonymousPage>
