<script>
 /*
    Landing page with hero image
  */
 
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="TRINV"
               show={false}
               canonicalURL="{$docbase}/">
    <div class="hero">
        <div class="text">
            <span>Trouvez l'adresse d'un bien grâce à</span>
            <a class="w3-round-xlarge"
               href="/comment_utiliser_TRINV/">TRINV</a>
        </div>
    </div>
</AnonymousPage>

<style>
 div.hero {
     border: 0px;
     background-image: linear-gradient(to right, 
        white 0%, rgba(0, 0, 0, 0) 75%),
        url("/hero1.webp");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }
 div.text {
     text-align: center;
     position: absolute;
     width: 20%;
     top: 50%;
     left: 5%;
     transform: translate(-5%, -50%);
     color:  #910E3A;
     font-size: 250%; /* calc vw */
 }
 a {
     text-decoration: none;
     padding: 0.5rem;
     color: white;
     background-color:  #910E3A;
 }
 a:hover {
     color: #910E3A;
     background-color: white;
 }
</style>
