<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Règles de confidentialité"
               canonicalURL="{$docbase}/regles_de_confidentialite/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Règles de confidentialité</h1>
    <div class='Content'><h2>L'extension <code>TrinvExt</code></h2>
<p>L'utilisation de l'extension <code>TrinvExt</code> n'utilise aucune donnée
personnelle. L'utiliser envoie le contenu de la page courante vers le
site TRINV pour analyse, extraction des principales caractéristiques
et renvoi de ces données pour mémorisation dans le navigateur de
l'utilisateur.</p>
<h2>Le site TRINV</h2>
<p>Le site <a href="https://trinv.fr">TRINV</a> utilise des cookies.
<a href="https://trinv.fr/cookies">Pour en savoir plus sur ces cookies</a>. La
publicité qui apparaît en haut des pages est assurée par Google qui
donc dépose ses propres cookies pour ce faire.</p>
<p>TRINV enregistre les connexions (heure, numéro IP, requête) dans ses
journaux et les mémorise au plus un an. TRINV enregistre aussi
l'activité des utilisateurs avec un cookie de session, cookie qui peut
être associé (mais seulement si l'utilisateur s'est identifié auprès
de TRINV) à son adresse de courriel et à son pseudo.</p>
<p>Le pseudo pourrait, dans de possibles futurs développements,
apparaître lors de partages d'informations.</p>
<p>Les connexions et activités permettent de comprendre comment se
comportent les utilisateurs de TRINV afin d'améliorer le site.</p>
</div>
  </div>
</AnonymousPage>
