<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="À propos des DPE"
               canonicalURL="{$docbase}/a_propos_des_dpes/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>À propos des DPE</h1>
    <div class='Content'><p>Un DPE ou diagnostic de performance énergétique est un document
obligatoire pour les ventes de biens. Il qualifie les biens
immobiliers, à l'aide de deux lettres entre A et G, suivant leur
performance. Ces deux lettres doivent être apparentes sur les annonces
immobilières.</p>
<p>L'<a href="https://observatoire-dpe-audit.ademe.fr/accueil">Observatoire DPE-Audit</a>
de l'ADEME recense tous les DPE. Et comme les DPE doivent être
réalisés avant mise en vente, ils permettent de connaître les biens en
vente. Il faut toutefois relativiser leur importance:</p>
<h2>les DPE sont valables 10 ans</h2>
<p>Un bien peut donc être revendu sans qu'un nouveau DPE soit nécessaire.</p>
<h2>DPE et biens à vendre</h2>
<p>Les DPE sont aussi nécessaires pour les locations. Les DPE ne sont donc pas tous
associés à des biens à vendre.</p>
<h2>Adresses approximatives</h2>
<p>Les adresses renseignées sont souvent approximatives. Le bien inspecté
peut se situer dans une importante résidence sans plus de détails. Le
bien peut être sur une voie de quelques kilomètres de long sans que
son numéro dans la voie soit indiqué.</p>
<p>On comprend alors que la géolocalisation inverse réalisée par l'ADEME
à partir d'une adresse potentiellement approximative conduise à des
résultats farfelus!</p>
<h2>Délai d'archivage</h2>
<p>Les DPE ne sont pas toujours immédiatement archivés sur l'ADEME.</p>
<h2>Variabilité des DPE</h2>
<p>Lorsqu'un mauvais DPE est obtenu, le propriétaire peut en faire
réaliser d'autres plus favorables. Les annonces ne sont pas forcément
mises à jour ce qui rend plus difficile l'appariement d'une fiche et
d'un DPE.</p>
<h1>Conclusions</h1>
<p>Les DPE peuvent néanmoins être très utiles!
C'est une information à ne pas négliger lors de vos recherches.</p>
</div>
  </div>
</AnonymousPage>
