<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { goto } from '$app/navigation';
 import { docbase, hostbase } from '$lib/stores.mjs';

 function go (event) {
   const el = event.target;
   let a;
   if ( el.tagName !== 'A' ) {
     a = el.querySelector('a');
   }
   //console.log(a);
   if ( a ) {
     const href = a.getAttribute('href');
     if ( href.match(/doc.trinv.fr/) ) {
       //console.log(href);
       goto(href);
     } else {
       window.location.href = href;
     }
   }
 }
</script>

<AnonymousPage title="Table des matières"
               canonicalURL="{$docbase}/table_des_matieres/">
  <div class='Content w3-container w3-margin' data-version="0.0.410">
    <h1>Table des matières</h1>
    <div class='Content'><p> 
    Vous trouverez, dans cette partie du site de TRINV, des
    informations sur l'application TRINV et sur 
    mes techniques de recherche de maisons.
</p>
<div class='w3-container'>
 <ul class='w3-ul w3-hoverable'>
  <li><button on:click={go}>
    <a href='{$hostbase}/about'>À propos de TRINV</a></button>
  </li><li><button on:click={go} >
    <a href='/a_propos_des_dpes/'>À propos des DPE</a></button>
  </li><li><button on:click={go} >
    <a href='/analyser_une_liste_d_annonces/'>Analyser une liste d'annonces</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_capturer_l_html_d_une_annonce/'>Comment capturer l'HTML d'une annonce ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_chercher_des_parcelles_cadastrales/'>Comment chercher des parcelles cadastrales ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_chercher_une_maison/'>Comment chercher une maison ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_gerer_ses_annonces/'>Comment gérer ses annonces ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_installer_l_extension_trinvext/'>Comment installer l'extension TRINVExt ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_installer_trinv/'>Comment installer TRINV ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_organiser_ses_recherches/'>Comment organiser ses recherches ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_trouver_une_adresse/'>Comment trouver une adresse ?</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_utiliser_l_extension_trinvext/'>Comment utiliser l'extension TRINVExt ?</a></button>
  </li><li><button on:click={go} >
    <a href='/contacter_trinv/'>Contacter TRINV</a></button>
  </li><li><button on:click={go} >
    <a href='/contexte_et_histoire/'>Contexte et histoire</a></button>
  </li><li><button on:click={go} >
    <a href='/informations_legales/'>Mentions légales</a></button>
  </li><li><button on:click={go} >
    <a href='/memoriser_une_annonce_immobiliere/'>Mémoriser une annonce immobilière</a></button>
  </li><li><button on:click={go} >
    <a href='/memoriser_une_requete/'>Mémoriser une requête</a></button>
  </li><li><button on:click={go} >
    <a href='/que_faire_avec_une_fiche/'>Que faire avec une fiche ?</a></button>
  </li><li><button on:click={go} >
    <a href='/quoi_de_neuf_dans_trinv/'>Quoi de neuf dans TRINV ?</a></button>
  </li><li><button on:click={go} >
    <a href='/regles_de_confidentialite/'>Règles de confidentialité</a></button>
  </li><li><button on:click={go} >
    <a href='/foire_aux_questions/'>Foire Aux Questions - FAQ</a></button>
  </li><li><button on:click={go} >
    <a href='/comment_utiliser_TRINV/'>Comment utiliser TRINV ?</a></button>
  </li><li><button on:click={go} >
    <a href='{$hostbase}/cookies'>À propos des cookies</a></button>
  </li>
 </ul>
</div>
<style>
li a {
  text-decoration: none;
}
li button {
   min-width: 100%;
   text-align: left;
   background-color: transparent;
   border: unset;
}
</style>
</div>
  </div>
</AnonymousPage>
