<script>
</script>

<section>
  <h2>Informations personnelles</h2>
  <div class='Content'><p>Cette page vous permet de voir ou modifier vos informations
personnelles. Celles-ci ne comportent que votre pseudo et votre courriel.</p>
<p>Votre courriel est votre identifiant et ne peut être modifié!</p>
<p>Votre pseudo (que vous pouvez modifier ci-dessous tout en restant
civil, courtois et poli) pourrait, dans un hypothétique futur, être
visible publiquement. Il pourrait servir à qualifier les
informations que vous souhaiteriez partager.</p>
<p>Pour les utilisateurs dotés de super-pouvoirs, ceux-ci sont visiblement
affichés. Ces super-pouvoirs sont:</p>
<ul>
<li>être exempté de publicités</li>
<li>pouvoir partager ses fiches sur plusieurs appareils ou utilisateurs</li>
</ul>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
