<script>
</script>

<section>
  <h2>Carte des DPE</h2>
  <div class='Content'><p>Cette carte affiche tous les DPE de la commune concernée. La liste de
ces DPE ainsi que leurs principales caractéristiques (DPE, GES, date,
surface et adresse) sont listées sous la carte. Les DPE étant
obligatoires pour la mise en vente d'un bien, leur connaissance permet
souvent de retrouver les adresses des biens en vente. Il y a cependant
des <a href="/a_propos_des_dpes">inconvénients</a> à leur usage.</p>
<p>Cliquer sur ces lignes ouvre le marqueur correspondant. Les marqueurs
géolocalisés des DPE sont bleus.</p>
<p>Il est également possible d'afficher vos fiches favorites relatives à
la commune concernée. Vous pouvez apparier une fiche et un DPE. La
sélection d'un DPE ou d'une fiche ouvre une boîte d'appariement;
lorsque DPE et fiche sont sélectionnées, un bouton d'association
apparaît. Le marqueur prend alors les deux couleurs.</p>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
