<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Contexte et histoire"
               canonicalURL="{$docbase}/contexte_et_histoire/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Contexte et histoire</h1>
    <div class='Content'><style>
img {
  height: 40ex;
  border: solid 1px #910E3A;
}
</style>
<h2>Pourquoi TRINV ?</h2>
<p>J'ai commencé, à l'été 2018, à chercher une maison en Bretagne au bord
de la mer. À l'été 2024, je cherche toujours! Mais pendant ces
longs mois, j'ai amélioré mes méthodes de recherche, méthodes que je
partage ici et dont TRINV est une des composantes importantes.</p>
<p>Au début, une feuille de tableur me permettait d'engranger les
annonces immobilières, leur URL, les caractéristiques des maisons, les
coordonnées des agences et des agents, mes notes personnelles
consécutives à mes prises de renseignement, etc.</p>
<p>Au bout d'une centaine de lignes, cette feuille est devenu ingérable.</p>
<h2>ReU</h2>
<p>J'ai donc résolu d'écrire une application Web, nommée ReU, pour gérer
toutes ces informations. Peu à peu, je l'ai enrichie pour me faciliter
aussi la géolocalisation de maisons à partir des descriptions qu'en
faisaient les agences. Grâce à Google Map, Street View, GeoPortail et le
cadastre j'ai, en général, pu localiser la moitié des maisons en
vente, m'évitant ainsi (puisque j'habite Paris et que je cherche en
Bretagne) de me déplacer pour apprécier l'environnement au sein duquel
se trouvent ces maisons.</p>
<p>Cette application nécessiterait d'être totalement réécrite pour être
diffusable et utilisable par d'autres que moi mais en attendant une
brique est publique et disponible: TRINV.</p>
<h2>TRINV</h2>
<p>TRINV est un cadastre inversé. Étant donné une commune et une surface
de parcelles, TRINV affiche, sur une carte, les parcelles concernées.
Voyez ici <a href="{$docbase}/comment_chercher_des_parcelles_cadastrales/">
comment chercher des parcelles cadastrales</a>.</p>
<h2>Futur</h2>
<p>TRINV est voué à se développer pour vous aider dans la recherche d'une
maison ou d'un terrain. Vous pouvez d'ores et déjà consulter mes
<a href="{$docbase}/comment_chercher_une_maison/">
conseils pour cette recherche</a>.</p>
<p>Enfin, consultez les dernières
<a href="{$docbase}/quoi_de_neuf_dans_trinv/">nouveautés</a>
ou <a href="{$docbase}/contacter_trinv/">
faites-moi part de vos suggestions</a>.</p>
</div>
  </div>
</AnonymousPage>
