<script>
</script>

<section>
  <h2>Fiches multiples</h2>
  <div class='Content'><p>TRINV peut analyser une page de résultats de
<a href="https://nestoria.fr/">Nestoria</a> ou
<a href="https://moteurimmo.fr/">MoteurImmo</a> ou
<a href="https://seloger.com/">SeLoger</a>.</p>
<p>La page résultante présente les grandes caractéristiques des annonces
analysées. Attention, parfois, seulement une partie des annonces ont
pu être analysées.</p>
<p>Cliquer sur une des annonces révèle un menu permettant de créer une
fiche à partir de l'annonce, d'ignorer l'annonce (elle apparaît alors
sur fond gris). Lorsqu'une annonce est ignorée, TRINV le retient et la
présentera comme ignorée les prochaines fois. Le menu disparaît après
un nouveau clic. Une annonce ignorée peut aussi ne plus être ignorée
et donc à nouveau reconnue.</p>
<p>On peut aussi tenter de rapprocher l'annonce des annonces existantes,
c'est-à-dire chercher, parmi les fiches existantes, une fiche ayant
une description similaire. Les fiches candidates sont alors affichées
et vous pouvez choisir de fusionner cette nouvelle annonce avec une
annonce déjà connue.</p>
<p>Les fiches sont bordées de pointillés lorsque nouvelles, bordées d'une
ligne solide lorsque déjà connues et sur fond gris lorsqu'ignorées.</p>
<p>Ainsi, vous pouvez surveiller les annonces d'un site aggrégateur, et</p>
<ul>
<li>visualiser les annonces nouvelles et les mémoriser en des fiches</li>
<li>ignorer certaines annonces car inintéressantes</li>
<li>ou bien chercher si l'annonce n'est que la réédition d'une annonce que vous connaissiez déjà!</li>
</ul>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
