<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Analyser une liste d'annonces"
               canonicalURL="{$docbase}/analyser_une_liste_d_annonces/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Analyser une liste d'annonces</h1>
    <div class='Content'><p>Grâce à cette fonctionnalité, vous pouvez surveiller les annonces d'un
site aggrégateur et, aisément:</p>
<ul>
<li>visualiser les annonces nouvelles et les mémoriser en des fiches</li>
<li>ignorer certaines annonces car inintéressantes</li>
<li>ou bien chercher si une annonce n'est que la réédition d'une annonce que vous connaissiez déjà!</li>
</ul>
<h2>Mode d'emploi</h2>
<p>Il est possible, avec l'<a href='{$docbase}/comment_installer_l_extension_trinvext/'>extension TRINVext</a>, d'analyser certaines pages
d'aggrégateurs listant de nombreuses annonces. Le résultat est une
nouvelle page listant toutes les annonces capturées avec leurs
principales caractéristiques.</p>
<h3>Analyse</h3>
<p>Voici, par exemple, une liste d'annonces fournies par un aggrégateur:</p>
<p><img itemprop="image" alt="Voir plusieurs annonces" 
     class='inDocumentation'
     src="/Screens/multiple0.webp" /></p>
<p>Après avoir demandé à TRINVext d'analyser cette page, on obtient
la liste des grandes caractéristiques de ces annonces:</p>
<p><img itemprop="image" alt="Voir plusieurs annonces analysées" 
     class='inDocumentation'
     src="/Screens/multiple1.webp" /></p>
<p>Un code couleur est associé aux annonces analysées: les annonces
peuvent être déjà connues (bordure continue) ou inconnues (bordure
pointillée) ou avoir été ignorées (sur fond gris). Cliquer sur une
annonce révèle un menu qui permet de l'ignorer ou de la convertir en
une fiche ou encore de la rapprocher d'une fiche déjà connue et ainsi
de les fusionner.</p>
<p><img itemprop="image" alt="Menu d'annonce" 
     class='inDocumentation'
     src="/Screens/multiple2.webp" /></p>
<p>Cliquer sur le titre de l'annonce permet d'afficher l'annonce
originale dans un autre onglet. Il n'est pas possible de modifier les
caractéristiques de l'annonce, une fiche doit d'abord être créée.</p>
<h3>Ignorer une annonce</h3>
<p>Ignorer une annonce, l'affiche en gris. Lorsque vous réanalyserez les
annonces de l'aggrégateur, les annonces ignorées resteront ignorées
vous permettant ainsi de vous concentrer sur ce qui est nouveau.</p>
<p>Le résultat de votre analyse est mémorisé et sera pris en compte la
prochaine fois: une annonce ignorée restera ignorée, une annonce
connue sera encore connue. Si d'aventure une annonce ignorée vous
intéresse, vous pouvez la reconnaître afin qu'elle ne soit plus ignorée.</p>
<!-- img itemprop="image" alt="Annonce ignorée" 
     class='inDocumentation'
     src="/Screens/multiple3.webp" / -->
<h3>Rapprocher une annonce</h3>
<p>Vous pouvez également rapprocher l'annonce des fiches que vous avez
accumulées afin de chercher une fiche ayant une description similaire.
Les fiches candidates sont alors affichées et vous pouvez choisir
d'identifier, c'est-à-dire fusionner, cette nouvelle annonce avec une
annonce déjà connue.</p>
<p><img itemprop="image" alt="Rapprochement d'annonce" 
     class='inDocumentation'
     src="/Screens/multiple4.webp" /></p>
<p>Notez que les caractéristiques qui diffèrent sont barrées
horizontalement. À vous d'apprécier la compatibilité du rapprochement
proposé.</p>
<h3>Créer fiche</h3>
<p>Si l'annonce vous intéresse, vous pouvez la convertir en une fiche
puis afficher cette fiche afin de la compléter. Une fois créée,
l'annonce est bordée avec un trait continu et le menu ne permet que de
voir la fiche associée.</p>
<p><img itemprop="image" alt="Annonce et fiche" 
     class='inDocumentation'
     src="/Screens/multiple5.webp" /></p>
<h3>Remarques</h3>
<p>Actuellement, cette fonctionnalité n'est disponible que sur quelques
agrégateurs: MoteurImmo (limité à une dizaine d'annonces), Nestoria et
SeLoger sont possibles.</p>
</div>
  </div>
</AnonymousPage>
