<script>
</script>

<section>
  <h2>Fiches favorites</h2>
  <div class='Content'><p>Cette page, assez technique, permet de rechercher une parcelle par son
identifiant.</p>
<p>L'identifiant d'une parcelle est codée comme AAAAA-000-AA-999 où AAAAA
est le code INSEE de la commune, 000 un nombre, AA est le nom de la
feuille de cadastre (une ou deux lettres) et 999 le numéro de la
parcelle au sein de cette feuille.</p>
<p>Le nombre 000 est souvent égal aux trois derniers chiffres du code
INSEE d'une ancienne commune fusionnée.</p>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
