<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Comment utiliser TRINV ?"
               canonicalURL="{$docbase}/comment_utiliser_TRINV/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Comment utiliser TRINV ?</h1>
    <div class='Content'><style>
a {
    color:  #910E3A;
}
</style>
<ul>
<li>
<p>Vous connaissez la commune et la superficie:
choisissez la <a href='{$hostbase}/choix-commune'>commune</a> puis
indiquez la <a href='{$hostbase}/choix-surface'>surface</a></p>
</li>
<li>
<p>Vous pensez savoir dans quel coin elle est:
choisissez la <a href='{$hostbase}/choix-commune'>commune</a> puis
zoomez, choisissez la bonne cartographie (plan ou cadastre ou photo satellitaire)
et cliquez sur la carte de la commune</p>
</li>
<li>
<p>Vous pensez qu'un DPE vous aidera:
choisissez alors la <a href='{$hostbase}/choix-commune'>commune</a> puis
demandez la <a href='{$hostbase}/carte-dpe'>carte des DPE</a></p>
</li>
<li>
<p>Vous connaissez la référence de la parcelle cadastrale:
indiquez-la <a href='{$hostbase}/parcelle'>référence</a></p>
</li>
</ul>
<h2>Pour en savoir plus, beaucoup plus ...</h2>
<p>Survolez les <a href='/table_des_matieres'>différents articles</a>
pour encore mieux utiliser TRINV pour vos recherches.</p>
</div>
  </div>
</AnonymousPage>
