<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Comment gérer ses annonces ?"
               canonicalURL="{$docbase}/comment_gerer_ses_annonces/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Comment gérer ses annonces ?</h1>
    <div class='Content'><h2>Pourquoi gérer les annonces ?</h2>
<p>J'ai trouvé utile de conserver toutes les annonces que je recevais ou
que je consultais au fur et à mesure de leur apparition. Certaines
sont longtemps affichées (et donc non vendues ce qui laisse penser
qu'il y a un problème (de prix ou autre)), certaines refont surface
après quelques mois (au même prix ou pas) enfin, quelques autres
apparaissent dans d'autres agences avec des descriptions différentes.</p>
<p>Enfin, si votre recherche dure longtemps, vous aurez ainsi une idée
statistique et temporelle des biens en vente, des évolutions de prix,
des meilleurs mois où acheter, du temps moyen de mise sur le marché,
du style des agences ou de leur territoire favori, etc.</p>
<h2>Comment gérer les annonces ?</h2>
<p>Lorsqu'une annonce est affichée dans votre navigateur, vous pouvez la
partager en indiquant l'application TRINV mais pour cela, vous devez
avoir préalablement
<a href="{$docbase}/comment_installer_trinv/">
installé TRINV comme application</a>.</p>
<p>Vous pouvez également fournir l'URL à TRINV pour mémorisation.</p>
<h2>Comment améliorer une annonce ?</h2>
<p>Les annonces sont mémorisées dans une fiche sur laquelle quelques
actions sont possibles. Vous pouvez modifier le titre afin de
remplacer l'insipide URL par un libellé plus parlant (maison aux
volets bleus, ou maison visitée le 2 mars 2022, ou ...). Vous pouvez
également ajouter des commentaires comme par exemple (RV pris pour le
3 mars) ou des photos. Vous pouvez choisir la photo illustrant la
fiche, etc. Plus de détails en
<a href="{$docbase}/que_faire_avec_une_fiche/">
que faire avec une fiche</a>.</p>
<p>Rappelons-le, tout ceci s'effectue anonymement et seulement dans votre
navigateur. Si vous utilisez plusieurs machines et souhaitez voir ces
informations partout, les partager avec d'autres personnes, vous
devrez attendre de plus amples développements...</p>
<h2>Construire son tableau de fiches</h2>
<p>Sur écran large (de plus de 1000 pixels), les fiches sont affichées
avec leurs caractéristiques.</p>
<p><img itemprop="image" alt="fiches sur écran large"
     class='inDocumentation'
     src="/Screens/fullrecords.png" /></p>
<p>Cliquer sur un titre de colonne permet d'agir sur les fiches. Il est
possible de trier (de façon ascendante ou descendante):</p>
<p><img itemprop="image" alt="tri de fiches sur écran large"
     class='inDocumentation'
     src="/Screens/sortrecords.png" /></p>
<p>Il est possible aussi de filtrer les fiches par valeur:</p>
<p><img itemprop="image" alt="filtrage de fiches sur écran large"
     class='inDocumentation'
     src="/Screens/filterrecords.png" /></p>
<p>mais aussi de rechercher un mot:</p>
<p><img itemprop="image" alt="recherche de fiches sur écran large"
     class='inDocumentation'
     src="/Screens/searchrecords.png" /></p>
<p>ou encore de masquer des colonnes (ou de les faire réapparaître)</p>
<p><img itemprop="image" alt="masquage de colonnes sur écran large"
     class='inDocumentation'
     src="/Screens/maskrecords.png" /></p>
<h2>Voir ses fiches autrement</h2>
<p>Le menu local associé aux fiches (les 3 points verticaux à côté du
titre « Mes annonces ») offre plusieurs choix.</p>
<h3>Voir ses fiches sur une carte</h3>
<p>L'entrée « Carte des fiches » affiche une carte indiquant la
localisation des fiches dont on connaît les coordonnées.</p>
<h3>Voir ses fiches dans un CSV</h3>
<p>L'entrée « CSV des fiches » engendre un fichier textuel (en termes plus
techniques: un CSV) que vous pouvez importer dans un tableur.</p>
<h2>Et plus tard ?</h2>
<p>Bientôt, vous pourrez étiqueter vos annonces pour mieux les classer
ou les ranger dans des dossiers.</p>
</div>
  </div>
</AnonymousPage>
