<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Comment capturer l'HTML d'une annonce ?"
               canonicalURL="{$docbase}/comment_capturer_l_html_d_une_annonce/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Comment capturer l'HTML d'une annonce ?</h1>
    <div class='Content'><div itemscope itemtype='http://schema.org/HowTo'>
<div itemprop="description" 
     value="Comment capturer l'annonce" ></div>
<div itemprop="author" itemscope itemtype="https://schema.org/Person">
  <div itemprop="name" value="Christian Queinnec" ></div>
</div>
<!-- div itemprop="supply" value="" / -->
<div itemprop="tool" value="Internet access" >&nbsp;</div>
<div itemprop="totalTime" value="P1M" >&nbsp;</div>
<div itemprop="tool" itemscope itemtype="https://schema.org/HowToTool">
    <div itemprop='url' value="https://trinv.fr/" >&nbsp;</div>
</div>
<div itemprop="datePublished" value="2024-02-29" ></div>
<p>Dans le rare cas où les analyses automatiques n'ont pu extraire les
caractéristiques d'une annonce, il est possible d'utiliser la
procédure suivante ci-dessous détaillée.</p>
<p>Voici donc une annonce intéressante:</p>
<p><img itemprop="image" alt="exemple d'annonce" 
     class='inDocumentation'
     src="/Screens/capture1.png" /></p>
<p>on clique dans cette page avec le bouton droit de la souris et on
sélectionne « inspecter »:</p>
<p><img itemprop="image" alt="inspecter" 
     class='inDocumentation'
     src="/Screens/capture2.png" /></p>
<p>S'affiche alors dans le mode développeur, le code HTML de la page.
L'élément inspecté est en bleu.</p>
<p><img itemprop="image" alt="HTML de la page" 
     class='inDocumentation'
     src="/Screens/capture3.png" /></p>
<p>Remonter puis cliquer, en haut, sur le premier élément: la balise
<code>&lt;html&gt;</code> et, enfin, sélectionner « éditer en HTML »</p>
<p><img itemprop="image" alt="copier le code de la page entière" 
     class='inDocumentation'
     src="/Screens/capture4.png" /></p>
<p>Sélectionner la page entière et copier la (souvent CTRL-A puis CTRL-C)</p>
<p><img itemprop="image" alt="copier la page" 
     class='inDocumentation'
     src="/Screens/capture5.png" /></p>
<p>Revenir au formulaire de TRINV:</p>
<p><img itemprop="image" alt="inspecter" 
     class='inDocumentation'
     src="/Screens/capture6.png" /></p>
<p>Copier (souvent CTRL-V) le code dans le formulaire puis demander
l'analyse:</p>
<p><img itemprop="image" alt="inspecter" 
     class='inDocumentation'
     src="/Screens/capture7.png" /></p>
<p>S'affichera alors, quelque temps après, la fiche synthétisée:</p>
<p>Et voila!</p>
</div>
  </div>
</AnonymousPage>
