<script>
 import '../app.css';
 /**
    NOTA: The order of onMount functions is:
      TopPublicity is run before AnonymousPage
      AnonymousPage is run before +layout

    But code out of onMount is run in opposite order:
      +layout, AnonymousPage, TopPublicity
  */
</script>

<main>
    <slot></slot>
</main>

<style>
 main {
   position: relative;
   background-color: white;
   margin: 0 auto;
   box-sizing: border-box;
   width: 100%;
   height: 100vh;
 }
</style>
