<script>
</script>

<section>
  <h2>Mémoriser une URL</h2>
  <div class='Content'><p>Ce formulaire permet de mémoriser une URL et de créer une fiche
associée à cette URL. La fiche peut être complétée, annotée, enrichie
en photos, etc.</p>
<h2>Que mémoriser ?</h2>
<p>L'URL peut mener à une agence immobilière ou à une requête vers un
aggrégateur pour obtenir en retour une sélection de biens. Voici,
des exemples de telles requêtes:</p>
<pre><code>https://www.nestoria.fr/erquy/immobilier/vente
https://www.seloger.com/list.htm?&amp;idtypebien=2&amp;idtt=2,5&amp;naturebien=1,2,4&amp;ci=140117
</code></pre>
<h2>Mémoriser une annonce immobilière</h2>
<p>Pour mémoriser une annonce immobilière, mieux vaut utiliser
l'<a href="/comment_utiliser_l_extension_trinvext">extension TRINVext</a>
qui analysera l'annonce et en extraiera les principales
caractéristiques. C'est fort utile puisque la plupart des annonces
immobilières disparaissent assez rapidement, l'URL y conduisant
devenant obsolète.</p>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
