<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Contacter TRINV"
               canonicalURL="{$docbase}/contacter_trinv/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Contacter TRINV</h1>
    <div class='Content'><h2>Pensez à nous!</h2>
<ul>
<li>Vous avez des remarques ou des souhaits ?</li>
<li>Vous avez trouvé une maison ou un terrain grâce à TRINV ?</li>
<li>Vous pensez à de nouvelles fonctionnalités qui vous aiderait dans votre recherche d'un bien ?</li>
</ul>
<p>Signalez-le nous par courriel à
<a href="mailto:contact@trinv.fr">contact@trinv.fr</a>
ou donnez-nous <a href="https://g.page/r/CXOMgYr69by2EAI/review">plein d'étoiles</a>
ou, tout simplement, <a href="https://g.page/r/CXOMgYr69by2EBM/review">votre avis</a>.</p>
<p>Vous pouvez également nous suivre sur</p>
<ul>
<li><a href="https://www.facebook.com/search/posts?q=trinv%20cadastre">Facebook</a></li>
<li><a href="https://trinv.business.site/">Google</a></li>
</ul>
</div>
  </div>
</AnonymousPage>
