<script>
</script>

<section>
  <h2>Choix de la commune</h2>
  <div class='Content'><p>Tapez au moins 3 lettres pour déclencher la complétion automatique
puis choisissez lorsqu'il ne reste plus que quelques possibilités.</p>
<p>Les communes ont souvent plusieurs graphies, toutes ne sont pas
nécessairement connues de TRINV.</p>
<p>Essayez une graphie avec ou sans tiret, <code>CONQUES-SUR-ORBIEL</code> et
<code>CONQUES SUR ORBIEL</code> existent mais ni <code>CONQUES-EN-ROUERGUE</code>,
ni <code>THIN LE MOUTIER</code>.</p>
<p>Supprimez ou ajoutez éventuellement le préfixe <code>LE</code> ou <code>LA</code>. Si
<code>LE CONQUET</code> existe, <code>CONQUET</code> est plus facile à taper.
En revanche, <code>LA HAGUE</code> n'est connue que comme <code>HAGUE</code>.</p>
<p>Tous les ans, une centaine de communes disparaissent.
Il y a des fusions de communes, des communautés de
communes, des intercommunalités, des communes déléguées, etc.</p>
<p>Quelques exemples:</p>
<ul>
<li>BINIC a fusionné avec ETABLES-SUR-MER pour donner BINIC-ETABLES-SUR-MER,</li>
<li>ILE-MOLENE est maintenant rattachée à LE CONQUET qui n'a pas changé de nom.</li>
<li>SAINT AMANT DE BONNIEURE, SAINT-ANGEAU et quelques autres sont devenus VAL DE BONNIEURE qui n'existait pas auparavant.</li>
</ul>
<p>Si vous cherchez une commune disparue, il vous faut chercher dans la
commune englobante, le plus souvent une commune proche. Pour ce faire,
je consulte en général <a href='https://fr.wikipedia.org/'>
Wikipédia</a> qui indique souvent quand
la commune a disparu et ce qu'elle est devenue.</p>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
