<script>
 import MenuSign from '$components/MenuSign.svelte';
 import TopPublicity from '$components/TopPublicity.svelte';
 
 import { dev, building } from '$app/environment';
 import { docbase, hostbase, person } from '$lib/stores.mjs';
 import { base } from '$app/paths';
 import { UserconfCache } from '$lib/client/userconfCache.mjs';

 export let title = 'Documentation CadasTRe INVersé';
 export let canonicalURL;
 export let show = true;

 async function refreshUser () {
     if ( building ) return;
     try {
         const theUserconfCache = new UserconfCache();
         const user = await theUserconfCache.refreshUser();
         return user;
     } catch (exc) {
         console.error('AnonymousPage PROBLEM', exc.toString());
     }
 }

</script>

<svelte:head>
  <title>{title}</title>

  <link rel="icon" href="{$docbase}/favicon.ico" sizes="any">
  <link rel="icon" href="{$docbase}/trinv-logo.svg"
        type="image/svg+xml">
  <link rel="shortcut icon" href="{$docbase}/trinv-logo.svg"
        type="image/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180"
        href="{$docbase}/apple-touch-icon.png">
  <link rel="mask-icon" href="{$docbase}/safari-pinned-tab.svg"
        color="#5bbad5">
  <link rel='manifest' href='{$docbase}/manifest.json'
        crossorigin='use-credentials'>
  <link rel='stylesheet' href='{$docbase}/global.css' async>
  <link rel='canonical' href={canonicalURL} >

  <meta property="og:title" content={title} >
  <meta property="og:image" content="{$docbase}/logo-512x512.png" >
  <meta property="og:url" content="{canonicalURL}" >
  <meta property="twitter:title" content={title} >
  <meta property="twitter:image" content="{$docbase}/logo-512x512.png" >
  
</svelte:head>

<div class='main-grid'>
  
  <div class='Header'>
    <header class="title-grid">
      <nav id='pagemenu' class='Menu w3-dropdown-hover'>
        <button name='main-menu' class='w3-button BTN' type='button'
                aria-label="Menu principal"><MenuSign size="18px"/></button>
        <div class='w3-dropdown-content w3-bar-block w3-border'>
          <a class="w3-bar-item w3-button" href="{$hostbase}/">
            Retour à TRINV</a>
          <a class="w3-bar-item w3-button" href='{$docbase}/table_des_matieres/'>
            Table des matières</a>
          <a class="w3-bar-item w3-button" href='{$docbase}/contacter_trinv/'>
            Contact</a>
        </div>
      </nav>
      <div class='CenteredTitle w3-center'
           title="TRINV ou le cadasTRe INVersé">TRINV: documentation</div>
    </header>
  </div>

  <div class='Body'>
   {#await refreshUser()}
       <p class='w3-center'>Page en cours de calcul...</p>
   {:then user}
     {#if show}<TopPublicity />{/if}
     <slot>
         <p class='w3-center'>Page en cours de calcul...</p>
     </slot>
   {/await}
  </div>
  
  <div class='Bottom'>
  </div>
</div>

<style>
 div.main-grid {
   display: grid;
   grid-template-rows: auto 1fr auto;
   grid-template-columns: 100%;
   column-gap: 0px;
   row-gap: 0px;
   min-height: 100%;
   width: 100%;
   grid-template-areas: "Header" "Body" "Bottom";
   font-size: 18px !important;
 }
 div.Header {
   grid-area: Header;
   height: 40px;
   min-height: 40px;
   padding: 0px;
   margin: 0px;
   grid-row: 1;
 }
 div.Body {
   grid-area: Body;
   grid-row: 2;
 }
 div.Bottom {
   grid-area: Bottom;
   grid-row: 3;
   height: 0px;
 }
 
 header.title-grid {
   display: grid;
   grid-template-columns: auto 1fr ;
   grid-template-rows: 2.5rem;
   grid-template-areas: "Menu" "CenteredTitle";
   column-gap: 0px;
   row-gap: 0px;
   align-items: center;
   width: 100%;
   font-size: 1.5rem;
   background-color: #910e3a;
   margin: 0px;
 }
 header nav.Menu {
   background-color: #910e3a;
   font-size: 1.2rem;
 }
 div.w3-dropdown-content {
   font-size: 1.2rem;
 }
 nav.w3-dropdown-hover a {
   text-align: left;
   text-decoration: none;
   padding-left: 1.2rem;
 }
 /* 1.5rem = 18px */
 button.BTN {
   padding-top: 0px;
   padding-bottom: 0px;
 }
 header div.CenteredTitle {
   color: white;
 }
</style>
