<!-- replacement for &#x25c0; backward black triangle -->
<button class='w3-btn w3-xlarge BackSign nude'
        on:keyup={back}
        on:click={back}
        aria-label='retour arrière'
        title={title}>
  <svg
   xmlns="http://www.w3.org/2000/svg"
   width="{width}"
   height="{height}"
   viewBox="0 0 {originalWidth} {originalHeight}"
   stroke="{color}"
   fill="{color}"
   stroke-width="1">
  <g transform="translate(-23.842522,-23.0481)">
    <g>
      <path d="M 111.88095,101.96429 112.6369,23.345238 24.190477,101.96429 Z"/>
      <path d="m 111.88095,101.96429 0.75595,78.61905 -88.446425,-78.61905 z"/>
    </g>
    <g transform="translate(0,0.37797456)">
      <path d="M 111.88095,101.96429 112.6369,23.345238 24.190477,101.96429 Z" />
      <path d="m 111.88095,101.96429 0.75595,78.61905 -88.446425,-78.61905 z" />
    </g>
    <g transform="translate(63.984379,0.37797456)">
      <path d="M 111.88095,101.96429 112.6369,23.345238 24.190477,101.96429 Z" />
      <path d="m 111.88095,101.96429 0.75595,78.61905 -88.446425,-78.61905 z" />
    </g>
  </g>
  </svg>
</button>

<style>
 button {
     padding-left: 0.5rem;
     padding-right: 0.5rem;
 }     
 svg {
     margin: 0;
     padding: 0;
 }
</style>

<script>
 import { goto } from '$app/navigation';
 
 export let title = "";
 export let size = '1em';
 export let clickable = true;
 export let href;
 let width = size;
 let height = size;
 let originalWidth = 153;
 let originalHeight = 158;
 export let color = 'black';

 function back (/*event*/) {
   if ( clickable ) {
     event.preventDefault();
     event.stopPropagation();
     if ( href ) {
       goto(href);
     } else {
       window.history.back();
     }
   }
 }
</script>
