<!-- replacement for the menu sign
     Unicode Character '&#x2630' -->
<svg xmlns="http://www.w3.org/2000/svg"
     width="{width}"
     height="{height}"
     viewBox="0 0 {originalWidth} {originalHeight}"
     stroke="{color}"
     fill="{color}"
     stroke-width="1">
  <g transform="translate(-0,-4)">
    <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896, 6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2 s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
  </g>
</svg>

<style>
 svg {
   margin: 0;
   padding: 0;
 }
</style>

<script>
 export let size = '1em';
 let width = size;
 let height = size;
 let originalWidth = 32;
 let originalHeight = 32;
 export let color = 'white';
</script>
