<script>
 import { dev } from '$app/environment';
 import { onMount } from 'svelte';
 import { UserconfCache } from '$lib/client/userconfCache.mjs';
 import { fade } from 'svelte/transition';
 
 let id = Date.now();
 let show = true;
 let displaynow = false;

 onMount(async () => {
     const theUserconfCache = new UserconfCache();
     show = await theUserconfCache.showPub();
     displaynow = true;

     if ( ! show ) {
         /*
            avoid "Uncaught TagError: adsbygoogle.push() error: Only one 'enable_page_level_ads' allowed per page."
          */
         if ( window.adsbygoogle ) {
             //console.log('TopPublicity1', window.adsbygoogle);
             if ( window.adsbygoogle.loaded ) {
                 // All ins elements in the DOM with class=adsbygoogle already
                 // have ads in them.
             }
         } else {
             //console.log('TopPublicity2');
             window.adsbygoogle = [];
             window.adsbygoogle.push({});
             //console.log('TopPublicity3', window.adsbygoogle);
             //(window.adsbygoogle = window.adsbygoogle || []).push({});
         }
     }
 });
 
</script>

{#if displaynow}
 {#if show}
  <div class='Ad' transition:fade={{ duration: 1000 }}>
    {#if dev}
      <ins class='simulate'>
        Emplacement pour publicité...
      </ins>

    {:else}
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4557329973841190"
              crossorigin="anonymous"></script>
      <!-- BandeauH -->
      <ins id={id}
           class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4557329973841190"
           data-ad-slot="2521372896"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
    {/if}
  </div>
  
 {:else}
  <div class='nopub'></div>
 {/if}
{/if}

<style>
 div.Ad {
     display: grid;
     margin-bottom: 2px;
     min-width: 100%;
     background-color: #f2e9e9;
 }
 /* 
    div.Ad :has(ins.adsbygoogle[data-ad-status='unfilled']) {
    display: none !important;
    }
  */
 :global(ins.adsbygoogle[data-ad-status='unfilled']) {
     color: black;
     content: "Chargement de publicité...";
 }
 div.Ad {
     height: 280px;
 }
 div.nopub {
     height: 0px;
     display: none;
 }
 ins.simulate {
     place-self: center;
     background-color: #f2e9e9;
 }
</style>
