<script>
</script>

<section>
  <h2>Fiche</h2>
  <div class='Content'><p>Lorsqu'une fiche a été créée par analyse d'une annonce immobilière, elle
est composée de trois parties.</p>
<ul>
<li>La partie haute est la synthèse des informations recueillies,</li>
<li>La suite est composée des annonces telles qu'analysées,</li>
<li>puis toutes les photos sont rassemblées en fin de fiche.</li>
</ul>
<h2>Synthèse</h2>
<p>Une fiche correspond à un bien et peut regrouper plusieurs annonces
relatives à ce bien. Les données de la fiche sont la synthèse que vous
avez élaborée à partir des annonces. Le commentaire notamment peut
lister les conversation téléphoniques, les rendez-vous de visite, les
questions que vous souhaitez poser, les comptes-rendus de visite et
toute autre information pertinente.</p>
<p>Vous pouvez modifier la fiche (titre, URL et commentaire) avec le menu
général (trois points verticaux) en haut à gauche. Lorsque la fiche
concerne un bien associé à plusieurs annonces immobilières, un résumé
des caractéristiques est affiché et peut être modifié à l'aide du
bouton « Modifier plus ».</p>
<h2>Annonce</h2>
<p>Chaque annonce peut être modifiée ou complétée . Vous pouvez modifier
les caractéristiques (description, prix, etc.) des annonces
immobilières associées à la fiche (avec le bouton « Modifier » situé à
côté de leur titre). Cette fonctionnalité est surtout utile lorsque
l'analyse automatique n'a pu comprendre l'annonce.</p>
<h2>Photos</h2>
<p>Toutes les photos associées à ce bien sont ici rassemblées. Ce sont
les photos des annonces et vos propres photos si vous en avez
ajouté.</p>
<p>Cliquer sur une photo l'affiche en grand, des boutons sur le côté
permettent de supprimer une photo, de la sélectionner pour devenir la
vignette de la fiche, ou de parcourir les autres photos. Pour les
utilisateurs de TRINV sur tablette ou téléphone, on peut également
faire défiler les photos avec un doigt.</p>
<p>On peut également sélectionner plusieurs photos en les survolant et en
cliquant sur le petit cercle en haut à gauche. Une poubelle apparaît
alors en fin des photos pour les supprimer définitivement et sans
annulation possible, d'un seul geste.</p>
<h2>Ajout de photos</h2>
<p>Il existe plusieurs façons d'ajouter des photos à sa fiche. On peut
choisir une image dans sa galerie de photos ou en prendre une avec son
téléphone. On peut aussi, à partir de son navigateur, copier une photo
(avec menu droit « copier image » ou « copier lien de l'image ») et la
coller (Contrôle V) dans le formulaire d'ajout de photo. On peut
également essayer de bouger l'image et de la relâcher dans le
formulaire (<code>drag and drop</code>).</p>
<p>Ne pas hésiter à tenter toutes ces méthodes car, selon la photo et le
site originaire, tout n'est pas permis.</p>
<h2>Synchronisation</h2>
<p>Si vous êtes doté de ce super-pouvoir, vous pouvez exporter votre fiche
vers le serveur TRINV et ainsi la voir ou la modifier depuis plusieurs
appareils (tablette, ordinateur, téléphone, etc.).</p>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
