<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Arrêt de TRINV pour maintenance"
               canonicalURL="{$docbase}/maintenance/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Arrêt de TRINV pour maintenance</h1>
    <div class='Content'><p>Une révision importante de TRINV est actuellement en cours
nécessitant d'interrompre le service.
TRINV devrait être à nouveau disponible dans 2 heures.</p>
</div>
  </div>
</AnonymousPage>
