<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Mentions légales"
               canonicalURL="{$docbase}/informations_legales/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Mentions légales</h1>
    <div class='Content'><p>Le site <a href="https://trinv.fr">TRINV</a> est hébergé par la société OVH:</p>
<pre><code>RCS Lille Métropole 424 761 419 00045
Siège social : 2 rue Kellermann - 59100 Roubaix - France 
Téléphone: 1004
</code></pre>
<p>TRINV est une unité de la SARL <a href="https://paracamplus.com">Paracamplus</a>.</p>
<p>Le site <a href="https://trinv.fr">TRINV</a> a été conçu par
<a href="mailto:contact@trinv.fr">Christian Queinnec</a>. Il permet de
sélectionner une commune en France et une surface en mètres carrés
pour visualiser, sur une carte, toutes les parcelles de cette commune et
de cette surface. En termes plus
<a href="https://fr.wikipedia.org/wiki/Art_ASCII">ASCII arty</a>:</p>
<pre>
           commune  }
         +          } => parcelles
           surface  }
</pre>
<p>TRINV permet aussi de mémoriser des annonces immobilières, de les
analyser et de leur adjoindre des notes personnelles et des photos.</p>
<p>Cette fonctionnalité peut intéresser (voir
<a href="{$docbase}/comment_chercher_une_maison/"> exemple d'usage</a>) les
acheteurs de maisons ou de terrains.</p>
<h2>Propriété intellectuelle et contrefaçons</h2>
<p>Christian Queinnec est propriétaire des droits de propriété
intellectuelle et détient les droits d’usage sur tous les éléments
accessibles sur le site internet <a href="https://trinv.fr/">TRINV</a> , notamment
les textes, images, graphismes, logos, vidéos, architecture, icônes et
sons.</p>
<p>Toute reproduction, représentation, modification, publication,
adaptation de tout ou partie des éléments du site
<a href="https://trinv.fr/">TRINV</a>, quel que soit le moyen ou le procédé
utilisé, est interdite, sauf autorisation écrite préalable de
Christian Queinnec.</p>
<p>Toute exploitation non autorisée du site ou de l’un quelconque des
éléments qu’il contient sera considérée comme constitutive d’une
contrefaçon et poursuivie conformément aux dispositions des articles
L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
<h2>Limitations de responsabilité</h2>
<p>Christian Queinnec ne pourra être tenu pour responsable des dommages
directs et indirects causés au matériel de l’utilisateur, lors de
l’accès à <a href="https://trinv.fr/">TRINV</a>.</p>
<p>Christian Queinnec décline toute responsabilité quant à l’utilisation
qui pourrait être faite des informations et contenus présents sur
le site <a href="https://trinv.fr/">TRINV</a>.</p>
<p>Christian Queinnec s’engage à sécuriser au mieux le site
<a href="https://trinv.fr/">TRINV</a>, cependant sa responsabilité ne pourra être
mise en cause si des données indésirables sont importées et installées
sur son site à son insu.</p>
<p>Des espaces interactifs (espace contact ou commentaires) sont à la
disposition des utilisateurs. Christian Queinnec se réserve le droit
de supprimer, sans mise en demeure préalable, tout contenu déposé dans
cet espace qui contreviendrait à la législation applicable en France,
en particulier aux dispositions relatives à la protection des données.</p>
<p>Le cas échéant, Christian Queinnec se réserve également la possibilité
de mettre en cause la responsabilité civile et/ou pénale de
l’utilisateur, notamment en cas de message à caractère raciste,
injurieux, diffamant, ou pornographique, quel que soit le support
utilisé (texte, photographie …).</p>
<h2>Informations</h2>
<p><a href="https://trinv.fr/">TRINV</a> s'efforce d'assurer l'exactitude des
informations affichées mais décline toute responsabilité en cas
d'erreur, d'inexactitude ou d'omission. <a href="https://trinv.fr/">TRINV</a>
décline également toute responsabilité dans les éventuelles
utilisations qui pourraient être faites de ces informations ainsi que
des conséquences qui pourraient en découler.</p>
<p>Le site <a href="https://trinv.fr/">TRINV</a> contient des liens hypertextes vers
d’autres sites mais dégage toute responsabilité à propos de ces liens
externes ou des liens créés par d’autres sites vers
<a href="https://trinv.fr/">TRINV</a>.</p>
<h2>Sources</h2>
<p>Les données cadastrales proviennent du
<a href="https://www.data.gouv.fr/fr/datasets/cadastre/">cadastre</a> officiel
publié sous licence ouverte. Les cartes géographiques proviennent
d'<a href="https://www.openstreetmap.fr/">OpenStreetMap</a>,
du <a href="https://www.geoportail.gouv.fr/">GeoPortail</a>.
La géolocalisation inverse est fournie par le
<a href="https://www.geoportail.gouv.fr/">GeoPortail</a>.</p>
<h2>Cookies</h2>
<p>Voir la <a href="https://trinv.fr/cookies">page dédiée aux cookies</a>.</p>
<h2>Données personnelles</h2>
<p>Le serveur enregistre dans ses journaux les dates, numéros IP et URL
demandées. Ces informations ne sont conservées qu'un an au plus.</p>
<p>L'usage simple et raisonnable de ce site est gratuit mais, en retour,
il y a une limite sur le nombre d'interactions que vous pouvez avoir
chaque jour avec TRINV. Un rappel à votre frugalité vous sera présenté
de temps en temps.</p>
<p>L'accès à des fonctionnalités plus avancées (comme l'analyse
automatique d'annonces immobilières) requiert une identification
préalable (via <a href='https://auth0.com/'>Auth0</a>).</p>
<h2>Modèle d'affaire</h2>
<p>La publicité affichée sur certaines des pages devrait permettre de
payer la consommation informatique nécessaire pour animer ce site.</p>
<h2>Droit applicable et attribution de juridiction</h2>
<p>Tout litige en relation avec l’utilisation du site
<a href="https://trinv.fr/">TRINV</a> est soumis au droit français. En dehors des
cas où la loi ne le permet pas, il est fait attribution exclusive de
juridiction aux tribunaux compétents de Paris.</p>
</div>
  </div>
</AnonymousPage>
