<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Que faire avec une fiche ?"
               canonicalURL="{$docbase}/que_faire_avec_une_fiche/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Que faire avec une fiche ?</h1>
    <div class='Content'><style>
.grey {
  background-color: #eee;
  padding: 1rem;
}
</style>
<h2>Vos favoris</h2>
<p>Choisir « Favoris » dans le menu général permet de lister toutes les
annonces ou simples URLs que vous avez mémorisées dans votre
navigateur. C'est l'analogue des signets ou favoris que l'on trouve
dans les navigateurs sauf que vous pouvez agir sur ces données à
l'aide du menu contextuel (trois points alignés verticalement).</p>
<p>Si vous n'avez aucun favori, quelques fiches sont automatiquement
créées menant vers des sites utiles pour la recherche de biens:
cadastre, geoportail et demandes de valeurs foncières. Vous pouvez
ajouter vos propres URL avec le bouton <code>+</code> en haut à droite.</p>
<p>Ces fiches, qui viennent d'être créées, sont atypiques car les favoris
sont plutôt là pour mémoriser des annonces immobilières mais elles
constituent des exemples de fiches (que vous pouvez bien sûr
supprimer).</p>
<h2>Que mémoriser ?</h2>
<p>Vous pouvez certes mémoriser des annonces. Comme les annonces
disparaissent régulièrement et assez rapidement, la mémorisation de
l'URL n'est utile que momentanément. Plus intéressant est de vous
pouvez aussi mémoriser des <a
href="/comment_chercher_une_maison/"> requêtes vers des
agrégateurs</a> comme par exemple:</p>
<pre><code>https://www.nestoria.fr/erquy/immobilier/vente
https://www.seloger.com/list.htm?&amp;idtypebien=2&amp;idtt=2,5&amp;naturebien=1,2,4&amp;ci=140117
</code></pre>
<p>La première URL affiche l'immobilier en vente à Erquy. La seconde
affiche les maisons à vendre à Cabourg. Ainsi vous pouvez rapidement
vérifier si de nouveaux biens apparaissent ou disparaissent!</p>
<h2>Analyser une annonce</h2>
<p>Une nouvelle fonctionnalité est d'analyser une annonce pour en
extraire les principales caractéristiques (prix, surface, description,
photos, etc.). Ces informations sont stockées dans votre navigateur et
sont donc disponibles même si l'annonce disparait et même si vous êtes
hors connexion.</p>
<p>Attention, l'IA qui analyse les annonces n'est pas encore au summum de
ses capacités, elle sait couramment analyser les annonces des
principaux sites comme BellesDemeures, BienIci, ImmobilierFigaro,
ImmobilierNotaires, LeBonCoin, LogicImmo, Orpi, PAP, SeLoger,
SuperImmo et quelques autres.</p>
<p>Si les résultats de l'analyse sont incomplets voire faux, pas de
panique, vous pouvez les compléter et les modifier. Vous pouvez, par
exemple, copier-coller la description de l'annonce dans le champ
description de la fiche. Vous pouvez également rectifier les surfaces,
prix et autres nombres caractérisant le bien.</p>
<p>Personnellement, une fois l'annonce rectifiée, je ne la modifie plus.
En revanche, j'accumule dans la fiche les nouvelles données
(changement de prix, nouvelles informations obtenues après entretien
téléphonique, etc.).</p>
<h3>Pourquoi ?</h3>
<ul>
<li>
<p>Pourquoi plusieurs fois la même photo ? Parce que souvent elle
apparaît en plusieurs tailles dans l'annonce.</p>
</li>
<li>
<p>Pourquoi des images blanches ? Parce que les sites d'annonces
insèrent souvent des images transparentes de 1 pixel sur 1 pixel sont
souvent utilisées (dans les pages, dans les courriels, etc.) afin de
savoir si les pages sont consultées.</p>
</li>
<li>
<p>Pourquoi l'analyse n'a pas réussi ? Il y a de nombreuses possibilités:</p>
</li>
</ul>
<p>-- la page que vous souhaitiez analyser contient plusieurs annonces
-- le serveur demande de résoudre une captcha
-- le format de l'annonce a changé</p>
<p>Mais <a href="{$docbase}/comment_installer_l_extension_trinvext/">
tout n'est pas perdu</a>, vous pouvez
installer l'extension TrinvExt!</p>
<h2>Actions sur fiche</h2>
<p>Vous pouvez suivre l'URL de la fiche ou supprimer la fiche. Vous
pouvez ajouter des photos ou l'annoter pour, par exemple:</p>
<ul>
<li>noter un rendez-vous,</li>
<li>noter un numéro de téléphone,</li>
<li>noter vos impressions après une visite,</li>
<li>passer en revue les photos de toutes les annonces associées</li>
<li>gérer les photos (en ajouter ou en supprimer)</li>
<li>etc.</li>
</ul>
<h3>Ajouter une photo</h3>
<p>Vous pouvez ajouter une photo depuis votre galerie de photo ou à
l'aide de l'appareil photo de votre dispositif si disponible. Cliquer
sur une photo l'affiche en grand et propose un menu permettant de
supprimer la photo ou de la choisir comme icône représentative de la
fiche.</p>
<h3>Supprimer une photo</h3>
<p>Cliquer sur une photo permet de la voir en grand. À droite de la
photo, plusieurs boutons permettent de la fermer, de la choisir comme
icône de la fiche ou de la supprimer.</p>
<h3>Supprimer des photos</h3>
<p>On peut aussi cliquer sur le petit cercle situé en haut et à gauche
d'une photo et ainsi la sélectionner (on peut aussi en sélectionner
d'autres), cliquer sur la poubelle qui apparaît à la fin des photos
permet de supprimer, d'un seul coup, toutes les photos sélectionnées.</p>
<h3>Étiqueter la fiche</h3>
<p>Une fois choisie une photo représentative de la fiche, cliquer dessus
permet d'étiqueter la fiche. Un menu s'ouvre permettant de choisir ce
que vous pensez faire ou avez fait avec le bien en question
(intéressant, se renseigner, vouloir visiter, visité), l'état du bien
(sous offre, sous compromis, vendu, disparu, réapparu) et, enfin,
l'intérêt que vous portez à ce bien de <code>---</code> à <code>+++</code>.</p>
<p><img itemprop="image" alt="Étiqueter une annonce" 
     class='inDocumentation'
     src="/Screens/interesting.webp" /></p>
<p>Enregistrez vos étiquettes, elles apparaîtront en bandeau sur la
vignette représentative de la fiche. Dans la liste des fiches, cliquer
sur la colonne des vignettes, les présente triées par intérêt.</p>
<p><img itemprop="image" alt="Lister les annonces" 
     class='inDocumentation'
     src="/Screens/interestingRecords.webp" /></p>
<h3>Annoter une fiche</h3>
<p>Vos annotations utilisent les conventions MarkDown. Si ce nom ne
vous dit rien, vous pouvez ignorer ce que je viens d'écrire!</p>
<p>Si vous souhaitez employer du gras, de l'italique, des paragraphes, des
énumérations ou des liens, regardez l'exemple suivant:</p>
<pre class='grey'>
Un *paragraphe* pas très long 
mais **sur plusieurs** lignes 
avec un mot en **gras** 
et un autre en *italiques* 

- une liste en
- trois points
- dont une [url vers TRINV](https://trinv.fr)
</pre>
<p>ce qui donne:</p>
<div class='grey'>
<p>Un <em>paragraphe</em> pas très long
mais <strong>sur plusieurs</strong> lignes
avec un mot en <strong>gras</strong>
et un autre en <em>italiques</em></p>
<ul>
<li>une liste en</li>
<li>trois points</li>
<li>dont une <a href="https://trinv.fr">url vers TRINV</a></li>
</ul>
</div>
</div>
  </div>
</AnonymousPage>
