<script>
</script>

<section>
  <h2>Carte des favoris</h2>
  <div class='Content'><p>Cette carte affiche toutes vos fiches mais seulement celles qui sont
associées à des adresses ou des coordonnées géographiques.</p>
<p>Vous pouvez cliquer sur les marqueurs présents sur la carte ou sur les
vignettes des annonces sous la carte et ainsi accéder à leur fiche.</p>
<p>Si vous souhaitez aussi afficher les DPE, vous devez revenir à
l'accueil, choisir une commune puis demander les DPE associés et,
enfin, sur la carte résultante, faire apparaître vos fiches de
la commune concernée.</p>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
