<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="Comment installer l'extension TRINVExt ?"
               canonicalURL="{$docbase}/comment_installer_l_extension_trinvext/">
  <div class='w3-container w3-margin' data-version="0.0.410" >
    <h1>Comment installer l'extension TRINVExt ?</h1>
    <div class='Content'><h2>Qu'est-ce qu'une extension ?</h2>
<p>Une extension est un logiciel que vous ajoutez à votre navigateur afin
de lui conférer de nouveaux comportements. <code>TrinvExt</code> est une
extension à Chrome qui simplifie la mise en oeuvre de TRINV pour la
mémorisation d'annonces immobilières.</p>
<p>Attention: actuellement, l'extension n'est installable que sur
ordinateur. Les navigateurs sur téléphones n'acceptent pas
d'extension.</p>
<p>TRINV mémorise une annonce immobilière en extrayant ses principales
caractéristiques. Pour cela, l'IA de TRINV a besoin de lire puis
d'analyser la page de cette annonce ce que permet <code>TrinvExt</code>
sans autre effort qu'un simple et seul clic.</p>
<p>Comme ajouter une extension à son navigateur est une opération qui
peut comporter des risques, le
<a href="https://gitlab.com/cqtrinv/chromeextension">
code de cette extension</a>
est public. Cette extension ne modifie rien dans la page courante et
se contente de la lire puis de l'envoyer à TRINV.</p>
<h2>Installation</h2>
<p>Pour installer <code>TrinvExt</code>, il faut chercher dans le
<a href="https://chrome.google.com/webstore/detail/trinvext/ekemgbfjoofpddmmoocaocklahbojcll">
magasin des extensions Chrome</a></p>
<p>Actuellement, cette extension fonctionne sur plusieurs navigateurs
listés ci-dessous. Il se pourrait qu'elle fonctionne aussi pour
d'autres navigateurs. En revanche, les navigateurs sur tablette et
téléphones n'acceptent pas d'extension.</p>
<h3>Chrome</h3>
<p>Installer à partir du
<a href="https://chrome.google.com/webstore">Chrome Web Store</a>, chercher
<code>TrinvExt</code> puis cliquer sur la ligne afin d'afficher les détails à
propos de <code>TrinvExt</code> (vous pouvez aussi arriver là avec le
[lien direct[(https://chrome.google.com/webstore/detail/trinvext/ekemgbfjoofpddmmoocaocklahbojcll)) et, enfin, cliquer sur le bouton « Disponible sur Chrome ».</p>
<h3>Brave</h3>
<p>Pour Brave, même procédure. Le
<a href="https://chrome.google.com/webstore">Chrome Web Store</a>
est un réservoir d'extensions possibles. Vous aurez juste à accepter que
l'extension n'a pas été vérifiée par Brave (elle le fut avec Google).</p>
<p><img class='inDocumentation'
     alt="l'extension TrinvExt pour Brave"
     src='/Screens/trinvext-brave.png'></p>
<h3>Edge</h3>
<p>Pour Edge, même procédure. Le
<a href="https://chrome.google.com/webstore">Chrome Web Store</a> est un
réservoir d'extensions possibles. Vous aurez juste à accepter que
l'extension n'a pas été vérifiée par Edge (elle le fut avec Google).
N'oubliez pas d'épingler l'extension.</p>
<p><img class='inDocumentation'
     alt="l'extension TrinvExt pour Edge"
     src='/Screens/trinvext-edge.png'></p>
<h3>Opera</h3>
<p>Pour Opera, même procédure. Le
<a href="https://chrome.google.com/webstore">Chrome Web Store</a> est un
réservoir d'extensions possibles. Vous aurez juste à accepter que
l'extension n'a pas été vérifiée par Opera (elle le fut avec
Google).N'oubliez pas d'épingler l'extension.</p>
<p><img class='inDocumentation'
     alt="l'extension TrinvExt pour Opera"
     src='/Screens/trinvext-opera.png'></p>
<h3>Firefox</h3>
<p>Il faut avoir un Firefox récent et aller chercher l'extension <code>TrinvExt</code>
sur le <a href="https://addons.mozilla.org/en-US/firefox/addon/trinvext/">magasin d'extensions de Firefox</a>.</p>
<h3>Safari</h3>
<p>L'extension n'est pas disponible pour Safari, veuillez utiliser un des
navigateurs mentionnés ci-dessus.</p>
<h2>Explication du code</h2>
<p>Le fichier <code>package.json</code> indique les fichiers présents dans l'extension.
Il contient ce qui est nécessaire pour la regénération de l'extension.</p>
<p>Le seul fichier exécutable et vraiment intéressant est <code>popup.js</code> qui
capture le code de la page contenant l'annonce et l'envoie à l'IA de
TRINV pour analyse.</p>
<p>Le fichier <code>iAmHere.js</code> ne sert à TRINV qu'à repérer si l'extension
est installée ou pas.</p>
</div>
  </div>
</AnonymousPage>
