<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<style>
:global(h2) { color: #910e3a; }
</style>

<AnonymousPage title="{{pageTitle}}"
               canonicalURL="{$docbase}{{ page.canonicalURL }}">
  <div itemscope itemtype="https://schema.org/FAQPage"
       class='w3-container w3-margin' data-version="{{ page.version }}">
    <div itemprop="author" itemscope itemtype="https://schema.org/Person">
      <div itemprop="familyName" value="Queinnec" ></div>
      <div itemprop="givenName" value="Christian" ></div>
    </div>
    <div itemprop="about" value="TRINV" ></div>
    <div itemprop="abstract">
      Cette page liste quelques questions régulièrement posées.
      C'est la FAQ ou foire aux questions.
    </div>
    <div itemprop="datePublished" value="{{ date }}" ></div>
    <h1><span itemprop="name">{{pageTitle}}</span></h1>

    <div class='Content'>{{ content }}</div>
  </div>
</AnonymousPage>

