<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { goto } from '$app/navigation';
 import { docbase, hostbase } from '$lib/stores.mjs';

 function go (event) {
   const el = event.target;
   let a;
   if ( el.tagName !== 'A' ) {
     a = el.querySelector('a');
   }
   //console.log(a);
   if ( a ) {
     const href = a.getAttribute('href');
     if ( href.match(/doc.trinv.fr/) ) {
       //console.log(href);
       goto(href);
     } else {
       window.location.href = href;
     }
   }
 }
</script>

<AnonymousPage title="{{pageTitle}}"
               canonicalURL="{$docbase}{{ page.canonicalURL }}">
  <div class='Content w3-container w3-margin' data-version="{{ page.version }}">
    <h1>Table des matières</h1>
    <div class='Content'>{{ content }}</div>
  </div>
</AnonymousPage>
