<script>
 import AnonymousPage from '$components/AnonymousPage.svelte';
 import { docbase, hostbase } from '$lib/stores.mjs';
</script>

<AnonymousPage title="{{pageTitle}}"
               canonicalURL="{$docbase}{{ page.canonicalURL }}">
  <div class='w3-container w3-margin' data-version="{{ page.version }}" >
    <h1>{{pageTitle}}</h1>
    <div class='Content'>{{ content }}</div>
  </div>
</AnonymousPage>
