<script>
</script>

<section>
  <h2>Choix de la surface</h2>
  <div class='Content'><p>Vous pouvez également indiquer un intervalle de surfaces
sous la forme <code>min-max</code> (par exemple <code>499-502</code>)
mais pensez à ne pas en demander trop car le nombre de parcelles
résultant d'une requête est limité à 50.</p>
<p>Si les données de la commune ne sont pas encore présentes, il
vous faudra d'abord attendre quelques minutes avant que les
réponses apparaissent. Une notification vous avertira.</p>
<p>Il vous est déjà possible d'interagir avec la carte ci-dessous.
Cliquer sur un point affiche la parcelle concernée, sa surface,
ses coordonnées et procure des liens vers le cadastre ou les
photos aériennes. Pratique lorsque vous connaissez la localisation
mais pas l'adresse!</p>
<p>La carte peut s'afficher en plein écran avec le bouton en haut à
droite. On peut passer à la vue aérienne avec le bouton M à gauche
mais en cliquant à nouveau sur ce bouton, on obtient les parcelles
cadastrales lorsque l'on est au bon niveau de zoom.</p>
<h2>DPE</h2>
<p>Un bouton vous permet d'afficher les DPE relatifs à la commune
concernée. Les DPE étant obligatoires pour la mise en vente d'un bien,
leur connaissance permet souvent de trouver des adresses de
biens à vendre. Il y a cependant quelques
<a href="/a_propos_des_dpes">inconvénients</a> à leur usage.</p>
<style>
code {
 color: #910e3a;
}
</style>
</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
