<script>
</script>

<section>
  <h2>{{pageTitle}}</h2>
  <div class='Content'>{{ content }}</div>

  <div class='faq'>
    <a href="https://doc.trinv.fr/foire_aux_questions">Foire aux Questions</a></div>
</section>

<style>
h2 {
  color: #910e3a;
  }
faq {
  text-align: right;
}
</style>
